* {
    text-align: center;
    /*border: 2px solid rgb(87, 23, 23);*/
}

body {
    background-color: #5ca0d7;
}

#title {
    color: white;
    font-variant: small-caps;
}

#title :hover {
    color: black;
}

#quote1 {
    color: white;
}

#quote2 {
    font-variant: small-caps;
}

img {
    width: 10%;
}

#quote3 {
    color: white;
    font-size: 200%;
}