/* * {border: 2px solid rgb(87, 23, 23);} */

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Rowdies:wght@300;400;700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #33261D;
  --secondary-color: #ff6700 ;
  --accent1-color: #7c7c7c;
  --accent2-color: #fbf5f3;
  --accent1-colorTransparint: rgba(124, 124, 124, 0.8);

  /* change the values below to your chosen font(s) */
  --heading-font: Rowdies, "IM Fell French Canon SC";
  --paragraph-font: "Crimson Pro", Lato, Helvetica, sans-serif;
  --link-font:  "DM Mono", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #33261D;  /* headlines on a white background */ 
  --headline-color-on-color: #fbf5f3; /* headlines on a colored background */ 
  --paragraph-color-on-white: #33261D; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #fbf5f3; /* paragraph text on a colored background */ 
  --paragraph-background-color: #33261D;
  --nav-link-color: #ff6700;
  --nav-background-color: #33261D;
  --nav-hover-link-color: #33261D;
  --nav-hover-background-color: #ff6700;
}


body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--nav-background-color);
    padding: 15px 50px;
}


#logo_link {
    /* padding-top: 5px; */
    width: 120px;
    height: 66px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 120px;
    justify-self: center;
    align-self: center;
    /* padding: 5px 5px; */
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--link-font);
    padding: 16px;
    font-size: 1.2em;
    /* align-items: baseline; */
    /* margin-top: 0px; */
    
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    font-family: var(--link-font);
}
/* nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
} */

/* Dropdown Button */
.dropbtn {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    padding: 16px;
    font-size: 1.2em;
    border: none;
    font-family: var(--link-font)
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
  }

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}


main {
    margin: 1% ;
}

h1 {
    color: var(--headline-color-on-white);
    text-align: center;
    font-family: var(--heading-font);
}
h2 {
    color: var(--headline-color-on-white);
    text-align: center;
    font-family: var(--heading-font);
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card_img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.products h3 {
    color: var(--headline-color-on-white);
    text-align: center;
}

/* use flex box for main */


/*Footer*/
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    padding: 15px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    font-family: var(--paragraph-font);
}

footer a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--link-font);
    padding: 16px;
    font-size: 1.2em;
}

footer a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    font-family: var(--link-font);
}

footer .social img {
    padding-top: 15px;
    /* display: flex; */
    /* justify-content: left; */
    /* align-items: left; */
}



.item-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px;
    position: relative;
    margin: auto;
}

/* slide show for other pages */
/* * {box-sizing:content-box} */


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:  absolute;
  top: 225px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  background-color: var(--accent1-colorTransparint);
}
.prev {
  /* top: 500px; */
  left: 32px;
}

/* Position the "next button" to the right */
.next {
  left: 589px; 
  /* right: 694px; */
  border-radius: 3px 3px 3px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--headline-color-on-color);
  font-size: 12px;
  /* padding: 8px 12px; */
  position: relative;
  top: 15px;
  text-align: center;
  z-index: 999;
  display: inline-block;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
  position: relative;
  /* top: -80px; */
}

.dots {
    text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides fade {
    text-align: center;
    z-index: 99;
}
.slides {
    /* width: 100%; */
    height: 450px;
    max-height: 450px;
    padding: 10px;
    /* border: 1px solid black; */
    display: block;
    margin: 0 auto;
}

.item-content p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    font-size: 1.5em;
    padding: 10px;
}
@keyframes fade {
  0% {opacity: 0.4}
  100% {opacity: 1}
}



/* tailwind */

