/* 
* {
    border: 2px solid rgb(87, 23, 23);
}*/

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

body {
    background-color: blueviolet;
    padding:0px;
    font-family: "protest revolution", Georgia, 'Times New Roman', Times, serif;
}

#content {
    max-width: 1080px;
    background-color: aliceblue;
    
}

header {
    background-color: blueviolet;
}


nav {
    display: flex;
    justify-content: center;
}

.nav_link {
    padding: 1%;
    color:black;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;

}

nav a:hover {

    color:blueviolet;
    background-color: rgb(255, 0, 0);
    text-align: center;
}

img {
    width: 50%;
    display: block;
    margin:0 auto;
    border-radius: 100% 90%;
    grid-column: 1/3;
    grid-row: 2/3;
    box-shadow: 5px 10px 10px black; /* this is not working for some reasion dont use commas*/
    transition: transform .5s;
}

img:hover {
    opacity: .6;
    transform: scale(1.1);
    /*this is so cool*/
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#main_title {
    font-family: 4em;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
}

p {
    text-align: center;
    width: 50%;
    margin: 20px auto;
    font-size: 150%;
    line-height: 1.5em;
    background-color: beige;
    padding: 25px;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 100% 50px;
}

footer p {
    background-color: blueviolet;

}

footer {
    background-color: blueviolet;
}

footer a {
    color:blue
}

/* @media screen and (max-width = 900px){ 
    desplay
}*/